* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}


body {
background-color: #161616;
color: white;
}


/* ================= NAVBAR ================= */
header {
  position: sticky;
  top: 0;
  z-index: 2000;

  background-color: black;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}



nav {
padding: 1.5rem 1rem;
}


.nav-container {
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}


#logonav {
width: 40px;
height: 40px;
}


.nav-links {
list-style: none;
display: flex;
gap: 2rem;
}


.nav-links a {
text-decoration: none;
color: white;
font-weight: 500;
transition: color 0.7s linear;
display: inline-block;
position: relative;
}

.nav-links a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.7s ease-out;
}



.nav-links a:hover {
color: orange;
}

.nav-links a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.4s ease;
}


/* ================= HERO ================= */
#Inicio {
  position: relative;
  height: 90vh;
  object-fit: cover;

  background-image: url("images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: linear-gradient(black 90%, transparent)
}



/* OVERLAY OSCURO DIFUMINADO */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  background:
    linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0)),
    linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}



/* CONTENIDO DEL HERO */
.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   /* centra el contenido */

  margin: 0 auto;        /* 🔑 centra el bloque */
  padding: 0 1.5rem;
  text-align: center;    /* centra el texto */
}



.hero-content h1 {
  font-size: 4rem;
  line-height: 1.1;
}

.hero-content span {
  color: orange;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  opacity: 0.9;
}

.hero-content button {
  margin-top: 2rem;
  padding: 0.9rem 1.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;

  background: linear-gradient(135deg, orange, #ffb347);
  color: black;
  font-weight: bold;
  cursor: pointer;
  will-change: transform;
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}

.hero-content button:hover {
  transform: scale(1.12);
  box-shadow: 0 15px 35px rgba(255, 140, 0, 0.6);
  background: linear-gradient(135deg, #ffb347, orange);
}

.hero-content button:active {
  transform: scale(1.03);
}





/* SECTION SERVICIOS */






#Servicios{
  padding-bottom: 5vh;
  mask-image: linear-gradient(
    to bottom,
    black 90%,
    rgba(0,0,0,0.7) 95%,
    transparent 100%
  );

  
}

#Servicios h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 3rem;
  line-height: 1.1;
}

#Servicios span {
  color: orange;
}


#p-servicio{
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color: oklch(0.705 0.015 286.067);
}

.servicios-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
}


.servicio {
  padding: 20px;
  background-color: #242424;
  border-radius: 20px;
  height: 250px;
  border: 2px solid #414141;

  display: flex;
  flex-direction: column;
  gap: 12px;
  will-change: transform;
  transition: box-shadow 0.25s ease, background 0.25s ease;

}

.servicios-container{
  mask-image: linear-gradient(black 90%, transparent)
}

.servicio:hover{
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
  background-color: #2a2a2a;
}



.servicio img{
  width: 49px;
  height: 49px;  
  padding: 4px;         /* 🔥 hace el fondo más grande */
  background: linear-gradient(135deg, #ffb347, orange);
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(255, 140, 0, 0.6);
}


.servicio h2{
  font-size: 1.2rem;
}

.servicio p{
  font-size: 1.1rem;
   color: oklch(0.705 0.015 286.067);
}




/* ===== CARRUSEL GALERIA ===== */
.carousel {
  position: relative;
  width: 90%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 24px;
  border: 5px solid #242424;
  box-shadow: 10px 10px 10px 1px rgba(0,0,0,.25);
}


.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}   

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.carousel-indicators {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.4);
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}


.dot {
  width: 24px;
  height: 4px;
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.dot.active {
  background: orange;
  transform: scaleX(1.4);
}



@media (max-width: 1024px) {
  .servicios-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .servicios-container {
    grid-template-columns: 1fr;
  }
}



/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  
  .imagengal {
    min-width: 80vw;
    height: 350px;
  }
  .menu-btn {
    display: block;
    z-index: 1100;
  }
  
  .menu-btn.active {
  transform: rotate(90deg);
 }


  .nav-links {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    width: 101%;
   padding: 2rem 0;

    background-color: black;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;

    clip-path: circle(0px at 90% -10%);
    transition: clip-path 0.5s ease-in-out;

    pointer-events: none;
    z-index: 1050;
  }

  .nav-links.active {
    clip-path: circle(150% at 90% -10%);
    pointer-events: all;
  }

  /* HERO MOBILE */
  .hero-content {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 2.7rem;
  }

  .hero-content p {
    font-size: 1.05rem;
  }

  .nav-links li {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.35s ease, transform 0.35s ease;
}

.nav-links.active li {
  opacity: 1;
  transform: translateY(0);
}

.nav-links.active li:nth-child(1) { transition-delay: 0.1s; }
.nav-links.active li:nth-child(2) { transition-delay: 0.2s; }
.nav-links.active li:nth-child(3) { transition-delay: 0.3s; }
.nav-links.active li:nth-child(4) { transition-delay: 0.4s; }


#Servicios h1 {
    font-size: 2.2rem;
    padding-top: 50px;   /* menos aire */
  }


  .carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 24px;
  border: 5px solid #242424;
  box-shadow: 10px 10px 10px 1px rgba(0,0,0,.25);
}

}

